<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Page de connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="dark">Connexion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input color="dark" placeholder="Username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input color="dark" placeholder="Password" type="Password" ></ion-input>
      </ion-item>
      <br>
      <ion-item lines="none">
        <ion-button color="dark" fill="outline" slot="end" (click)="onLogIn()">Valider</ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
