.bg-img {
    padding: 10px;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/vague.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

#date {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    
}

ion-item {
    --ion-background-color: linear-gradient(#C04848, #480048);
}

