<ion-header>
  <ion-toolbar>
    <ion-title>Create task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-item lines="none">
      <ion-item>
        <ion-input [(ngModel)]="myTask" placeholder="Entrez une tâche à ajouter"></ion-input>
        <ion-button (click)="addTask()" slot="end">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-button (click)="checkListing()">Listing</ion-button>
    <ion-button (click)="onLogOut()">Deconnexion</ion-button>
  </ion-card>
</ion-content>
